/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.ReturnHome img{
	width: 40px;
	height: 40px;
	position: fixed;
	left: 10px;
	top: 10px;
	cursor: pointer;
}

h1{
  font-size: xx-large;
  text-align: center;
}

.MindSparkLogo img{
    width: 480px;
	height: 110px;
	position: relative;
	right: 20px;
	top: 10px;
    
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.Header{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}


body.container-swiper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
body{
  background-image: url(../assets/images/background.gif);
}
.container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-container {
  margin: 0 30px;
  overflow: hidden;
}
.slide-container2{
margin: 0 30px;
overflow: hidden;
}
.card {
  background: #fff;
  border-radius: 8px;
}
.card .image-box {
  height: 150px;
}
.card .image-box img {
  height: 100%;
  border-radius: 8px 8px 0 0;
  padding: 20px;
	width: 98%;
}
.card .sponsor-details {
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 15px;
}
.card .sponsor-details img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.sponsor-details .name {
  font-size: 15px;
  font-weight: 500;
}
.sponsor-details .job {
  font-size: 12px;
  font-weight: 500;
  color: #4d4d4d;
}

.swiper-navBtn {
  color: #000;
  height: 40px;
  width: 40px;
  background: #fff;
  border-radius: 50%;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 18px;
}

.swiper-pagination-bullet {
  background-color: #000;
}

@media screen and (max-width: 768px) {
  .swiper-navBtn {
    display: none;
  }
}

#KPML{
  background: #e0e6eb;
  border-radius: 8px;
}

@media (max-width: 700px) {
	h1 {
		padding: 80px 25px 10px 25px;
	}
	.ReturnHome {
		visibility: hidden;
	}
	.MindSparkLogo img{
		margin-left: 30px;
		text-align: center;
		width: 350px;
		height: 90px;
	}
}

